{% extends 'main/base.html' %}
    {% block content %}
      {% for object in object_list %}
          <div class="card card text-white bg-success mb-3">
              <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Время отправки</td>
                            <td>{{object.date_end}}</td>
                        </tr>
                        <tr>
                            <td>Почта клиента</td>
                            <td>{{object.client}}</td>
                        </tr>
                        <tr>
                            <td>Отправленное письмо</td>
                            <td>{{object.mailing}}</td>
                        </tr>
                        <tr>
                            <td>Ответ сервера</td>
                            <td>{{object.error_msg}}</td>
                        </tr>
                    </table>
              </div>
              </div>
  {% endfor %}
{% endblock %}